*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #636363;
}

body {
  position: relative;
}

/* Start header  */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
}
.container {
  max-width: 1199px;
  margin: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container a {
  text-decoration: none;
}

.header__container nav {
  display: flex;
  align-items: center;
}

.header__container nav ul {
  display: flex;
  margin-right: 30px;
}

.header__container li {
  padding: 55px 15px;
  list-style: none;
}

.header__container li a {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  color: #070120;
}

.header__container li a:hover {
  color: #f55f8d;
}

.header__container li a:hover span {
  animation: uptodown 0.3s;
}

@keyframes uptodown {
  49% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.header__container span {
  display: inline-block;
  transition: all 0.5s;
}

.header__container i {
  font-size: 9px;
  margin-bottom: 3px;
  vertical-align: middle;
}

.header-btn {
  text-transform: uppercase;
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  line-height: 1.2;
}

.header-btn:hover {
  background-position: right center;
}

/* end header */

/* start  carousel */

.carousel {
  background-image: url(./image/pic2.png);
  overflow: hidden;
  background-size: 100%;
  background-position: top;
  padding-top: 180px;
}

.carousel__content {
  display: flex;
  align-items: center;
}

.carousel__content ul {
  margin-bottom: 20px;
}

.carousel__left {
  width: 60%;
}

.title p {
  color: #f55f8d;
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}

.title h2 {
  color: #262626;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.1;
}

.article {
  font-size: 18px;
  margin-bottom: 15px;
}

.carousel__left li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
  list-style: none;
}

.article i {
  width: 35px;
  height: 35px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}

.article i:before {
  content: "\f00c";
}

.btn__left {
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  cursor: pointer;
  outline: 0;
  line-height: 1.2;
}

.carousel__right {
  width: 40%;
}

.carousel__banner {
  width: 570px;
  margin-left: 50px;
}

.carousel__banner img {
  max-width: 100%;
  display: block;
}

/* end carousel  */

.services {
  padding-bottom: 0;
  background-image: url(./image/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.title p {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.title h2 {
  color: #262626;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 70px;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services__item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 10%);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
}

.services__item img {
  width: 215px;
}

.services__item h3 {
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
  font-weight: 700;
}

.services__item:hover {
  transform: translateY(-20px);
}

.section-inner {
  padding-top: 115px;
}
/* end services */

/* start about us */

.aboutUs {
  background-image: url(./image/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

.aboutUs__container {
  max-width: 1199px;
  margin: auto;
}

.aboutUs__content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}

.aboutUs__left {
  width: 60%;
  position: absolute;
  left: -17%;
  visibility: visible;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-name: fadeInLeft;
}

.aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

@keyframes animate__fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.aboutUs__right {
  width: 50%;
  visibility: visible;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-name: fadeInRight;
}

@keyframes animate__fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.aboutUs__right p {
  margin-bottom: 15px;
}

.title p {
  font-weight: 500;
  font-size: 22px;
  color: #f55f8d;
}

.aboutUs__title h2 {
  font-size: 70px;
  color: #262626;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}

.aboutUs__right ul {
  margin-bottom: 30px;
}

.li {
  list-style: none;
}

.aboutUs__right i {
  color: #f55f8d;
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.btn-gradient {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 15px;
  padding: 20px 35px;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
}

.btn-gradient:hover {
  background-position: right center;
}

.flaticon-check::before {
  content: "\f120";
}
/* end about us  */

/* start number  */

.number {
  background-image: url(./image/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number__container {
  max-width: 1199px;
  margin: auto;
}

.number__content {
  display: flex;
  justify-content: space-around;
}

.number__item {
  width: 25%;
}

.number__item i {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  font-size: 45px;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number__item p:first-of-type {
  color: #f55f8d;
  font-size: 65px;
  font-weight: 800;
  line-height: 1;
}

.number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
}

/* end number  */

/* start feature */

.features {
  background-image: url(./image/bg2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 0;
  overflow: hidden;
}

.section-inner {
  padding-top: 115px;
}

.features__container {
  max-width: 1199px;
  margin: auto;
}

.features__content {
  display: flex;
}

.features__left,
.features__right {
  width: 50%;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.title p {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  font-weight: 900;
}

.features__item {
  padding: 0 50px 30px 0;
}

.features__item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.features__bg {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 10%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.features__bg::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.features__bg:hover::after {
  opacity: 1;
}

.features__bg:hover div,
.features__bg:hover h3,
.features__bg:hover i {
  color: #fff;
}

.features__item i {
  color: #f55f8d;
  z-index: 1;
  font-size: 80px;
  line-height: 1;
  transition: all 1s;
}

.features__item h3 {
  color: #262626;
  font-size: 1.5rem;
  font-weight: 800;
  transition: all 1s;
}

.features__item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}

.flaticon-coding:before {
  content: "\f116";
}

.flaticon-rocket:before {
  content: "\f112";
}

.features__banner {
  margin-right: -80px;
}

.features__banner img {
  max-width: 100%;
  animation: move2 5s infinite;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

/* end features */

/* start portofolio  */

.portfolio {
  background-image: url(./image/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.section-inner {
  padding-top: 115px;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item1 {
  grid-column: 1 / span 2;
}

.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.portfolio__item img {
  width: 100%;
  height: 100%;
}

.portfolio__item1,
.portfolio__item5 {
  grid-column: 1 / span 2;
}

.portfolio__item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.portfolio__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.75s;
}

.portfolio__icon {
  position: absolute;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  font-size: 28px;
  transform: translate(20px, -20px);
  top: 20px;
  right: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  transition: all 0.75s;
}

.portfolio__icon a {
  cursor: pointer;
}

.portfolio__item:hover::before {
  left: 125%;
}

.portfolio__item::before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba (255, 255, 255, 0.3) 100%
  );
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  content: "";
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}

.portfolio__item:hover .portfolio__icon {
  transform: translate(0);
}

a {
  text-decoration: none;
}

.la-plus:before {
  content: "\f067";
}

.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio__text h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 800;
}

.portfolio__text p {
  color: #fff;
  opacity: 0.7;
}

.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}
/* end portfolio  */

/* start plan  */

.plan {
  background-image: url(./image/bg16.png);
  background-size: cover;
  text-align: center;
  background-position: center;
}

.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}

.plan__item {
  padding: 35px 60px;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 8px;
  box-shadow: 1px 0 50px rgba(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}

.plan__item h3 {
  color: #262626;
  font-weight: 700;
  font-size: 2rem;
}

.plan__item img {
  width: 125px;
}

.plan__item li,
.plan__item p {
  color: #262626;
  font-size: 18px;
  font-weight: 500;
}

.plan__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 900;
}

.plan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}

li {
  list-style: none;
}

.plan__item li {
  padding: 5px 0;
  font-weight: 400;
}

.plan__item i {
  font-size: 12px;
  color: #f55f8d;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  border-radius: 100%;
  margin-right: 15px;
}
.plan__item:hover {
  border-image: url(./image/br.png) 1 round;
}
/* end plan  */

/* start testimonial  */

.testimonial {
  background-image: url(./image/bg17.png);
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.testimonial__content {
  min-height: 300px;
}

.testimonial__thumbs {
  position: relative;
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  overflow: hidden;
}

.testimonial__thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial__thumbs::before,
.testimonial__thumbs::after {
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  z-index: 2;
  content: "";
}

.testimonial__comment {
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}

.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.testimonial__thumbs .testimonial__pic img {
  background-color: #f55f8d;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  z-index: 2;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-slide-thumb-active .testimonial__pic::after,
.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1;
}

.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}

.testimonial__pic::after,
.testimonial__pic::before {
  content: "";
  position: absolute;
  background-color: #f55f8d;
  border-radius: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.swiper-slide-thumb-active .testimonial__pic .shape-bx {
  opacity: 1;
}

.testimonial__pic .shape-bx {
  position: relative;
  background-color: #f55f8d;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  transition: all 1s;
}

.testimonial__pic .shape-bx::before {
  position: absolute;
  background-image: url(./image/pattern12.png);
  background-position: bottom;
  background-size: contain;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  transition: all 1s;
}

.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}

.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}

.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}

.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}

.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
/* end testimonial  */

/* start blog  */

.blog {
  background-image: url(./image/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}

.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog__header {
  position: relative;
}

.blog__header img {
  width: 100%;
  border-radius: 8px;
}

.blog__header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer p:first-of-type span {
  color: #f55f8d;
}

/* end blog  */

/* start footer  */
footer {
  background-image: url(./image/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(./image/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(./image/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}

.footer__form,
.footer__text {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}

.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}

.footer__form input:focus,
.footer__form input:hover {
  border-color: #f55f8d;
}

.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}

.footer__form button:hover {
  background-position: right center;
}

.footer__form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}

@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%);
  }

  51% {
    opacity: 1;
  }
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer__item h3::after,
.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer__item h3::before {
  width: 15px;
}

.footer__item h3::after {
  width: 45px;
  left: 20px;
}

.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

.footer__item li {
  padding: 0.5rem 0;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__item a:hover {
  color: #fff;
}

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__left span {
  color: #f55f8d;
}

.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.footer__copyright a:hover {
  background: #f55f8d;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}
